<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Avatar Images:</strong>
  <div class="container">
  <div class="row">
    <div class="col-sm-4"><%= image_tag @user.avatar.url %></div>
    <div class="col-sm-4"><%= image_tag @user.avatar.url(:medium) %></div>
    <div class="col-sm-4"><%= image_tag @user.avatar.url(:thumb) %></div>
  </div>
  </div>
</p>

<p>
  <strong>Group:</strong>
  <%= @user.group %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
