<!-- start form sign in -->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div>
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %></div>

    <div>
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %></div>

    <div><%= f.submit "Login to River Pix", :class => "btn btn-success" %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <%= f.check_box :remember_me, :style => "display: inline;" %> <%= f.label :remember_me, :class => "text-success", :style => "diplay: inline; background-color: white; padding: 3px; border-radius: 4px;" %>
      </div>
    <% end -%>

<% end %>

<%= link_to('Forgot Password', new_user_password_path, :style => "background-color: white; padding: 3px; border-radius: 4px;") %>

<!-- end form sign in -->

